/** @format */
@import url("https://fonts.googleapis.com/css2?family=poppins&display=swap");
footer {
  background: #fff;
}
footer .footer__container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: 0 6.25rem;
  gap: 3.125rem;
}
footer .footer__container .logo__and__about img {
  margin-left: -2.375rem;
}
footer .footer__container .logo__and__about,
footer .footer__container .links,
footer .footer__container .contacts,
footer .footer__container .socials,
footer .footer__container .services {
  margin: 3.125rem 0;
}
footer .footer__container .logo__and__about p,
footer .footer__container .links p,
footer .footer__container .contacts p,
footer .footer__container .socials p,
footer .footer__container .services p {
  color: #a3a3a3;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
}
footer .footer__container .links h4 {
  color: #414c64;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
footer .footer__container .links ul {
  padding: 0;
}
footer .footer__container .links ul li {
  list-style: none;
}
footer .footer__container .links ul li .fa-angle-right {
  color: #414c64;
}
footer .footer__container .links ul li a {
  color: #a3a3a3;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.875rem;
  margin: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer .footer__container .links ul li a:hover {
  color: #414c64;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer .footer__container .contacts h4 {
  color: #414c64;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
footer .footer__container .contacts ul {
  padding: 0;
}
footer .footer__container .contacts ul li {
  list-style: none;
}
footer .footer__container .contacts ul li .fa-angle-right {
  color: #414c64;
}
footer .footer__container .contacts ul li span {
  color: #a3a3a3;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.875rem;
  margin: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer .footer__container .services h4 {
  color: #414c64;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
footer .footer__container .services ul {
  padding: 0;
}
footer .footer__container .services ul li {
  list-style: none;
}
footer .footer__container .services ul li .fa-angle-right {
  color: #414c64;
}
footer .footer__container .services ul li a {
  color: #a3a3a3;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.875rem;
  margin: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer .footer__container .services ul li a:hover {
  color: #414c64;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer hr {
  border: 0.063rem solid #ececec;
  width: 80%;
  display: grid;
  place-items: center;
  margin: auto;
}
footer .end__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .end__footer .privacy__terms__condition {
  display: inline-block;
}
footer .end__footer .privacy__terms__condition a {
  color: #a3a3a3;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
footer .end__footer .privacy__terms__condition a:nth-child(1) {
  border-right: 0.063rem solid rgba(163, 163, 163, 0.5882352941);
  padding: 0 0.625rem;
}
footer .end__footer .copyright {
  display: inline-block;
  margin: 0 0.8rem;
}
footer .end__footer .copyright p {
  color: #414c64;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
footer .end__footer .socials .social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .end__footer .socials .social__icons h4 {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin: 0.625rem 0;
}
footer .end__footer .socials .social__icons li {
  list-style: none;
  margin-bottom: 0.25rem;
}
footer .end__footer .socials .social__icons li a {
  background-color: #414c64;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  line-height: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  text-align: center;
  margin-right: 0.5rem;
}

@media (max-width: 62rem) {
  footer .footer__container {
    display: block;
    margin: 0 3.25rem;
  }
  footer .footer__container .logo__and__about {
    margin: 0;
  }
  footer .footer__container .logo__and__about figure {
    margin: 0 2.375rem;
  }
  footer .footer__container .logo__and__about img {
    margin: 4rem -2.375rem;
  }
  footer .end__footer {
    margin-top: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .end__footer .info {
    text-align: center;
  }
}
@media (max-width: 36.75rem) {
  footer .end__footer {
    display: grid;
    place-items: center;
  }
  footer .end__footer .privacy__terms__condition {
    margin: 0.625rem 0;
  }
  footer .end__footer .socials {
    margin: 0.625rem 0;
  }
  footer .end__footer .socials .social__icons {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  footer .end__footer .socials .social__icons ul li {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
}/*# sourceMappingURL=footer.css.map */