/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --step-3: clamp(1.94rem, 1.37rem + 2.88vw, 3.42rem);
}

header {
  width: 100%;
}

header .navbar {
  background: #414c64;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 6.5rem;
  top: 0;
  transition: all 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .navbar.sticky {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: #414c64;
  transition: all 300ms ease-in-out;
  padding: 0;
  height: 6rem;
  width: 100%;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.875rem;
}

header .navbar ul li {
  list-style: none;
  margin: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul li a {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

header .navbar ul li a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul li a .fa-angle-down {
  margin-left: 0.6rem;
}

header .navbar ul li a .fa-angle-down.trigger {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .navbar ul .dropdown__menus {
  display: none;
  z-index: -999;
  position: absolute;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

header .navbar ul .dropdown__menus.link-drop {
  z-index: 999;
  display: block;
  opacity: 1;
  background: #fff;
  padding: 20px 20px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

header .navbar ul .dropdown__menus.link-drop a {
  margin: 0.4rem;
  color: #a3a3a3;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul .dropdown__menus.link-drop a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar .hamburger__menu {
  display: none;
}

.gallery__extension__bg {
  background: url("../assets/images/gallery-extension-bg.png") no-repeat;
  background-size: cover;
  min-height: 30vh;
  width: 100%;
  background-position: center;
}

.gallery__extension__bg .heading {
  text-align: center;
  margin-top: 5.2rem;
}

.gallery__extension__bg .heading h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: var(--step-3);
  margin: 6.25rem 0.625rem 0 0.625rem;
}

.gallery__extension__bg .heading h1 a {
  margin: 6.25rem 0.625rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.gallery__extension__bg .heading h1 a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.gallery__extension__bg .heading h1 a .fa-house {
  margin-inline: 10px;
}

.gallery__extension__bg .heading h1 span {
  width: 0.125rem;
  height: 2.5rem;
  background-color: #fff;
  margin-inline: 30px;
}

.secondary_headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3.125rem 0;
}

.secondary_headings h2 {
  margin: 0;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #414c64;
  text-align: center;
}

.secondary_headings p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #a3a3a3;
  font-weight: normal;
}

hr {
  border: 0.063rem solid #ececec;
  width: 70%;
  margin: auto;
}

.img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 50px 100px;
}

.img-container img {
  width: 100% !important;
  height: 350px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  background: none !important;
}

.img-show {
  margin: 0.5rem !important;
  position: relative !important;
}

.img-show img {
  width: 100% !important;
}

.lightbox {
  height: 43.75rem !important;
  width: 43.75rem !important;
  background: none !important;
  top: 40% !important;
  left: 48% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  margin: 6.25rem 0 !important;
  max-width: 62.5rem !important;
  width: 100% !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.lightbox .lightbox-status {
  display: none !important;
}

.btn-prev,
.btn-next {
  width: 6.25rem !important;
  height: 3.125rem !important;
}

.btn-prev {
  left: 0.9375rem !important;
}

.btn-next {
  right: 0.4375rem !important;
}

.btn-close {
  background: #fbbf24 !important;
  position: absolute !important;
  top: 0 !important;
}

.btn-next:before {
  content: "Next" !important;
  font-family: "Poppins", sans-serif;
}

.img-caption {
  display: none !important;
}

.btn-prev:before {
  content: "Back" !important;
  font-family: "Poppins", sans-serif;
}

.img-caption {
  display: none !important;
}

.btn-prev:before {
  content: "Back" !important;
  font-family: "Poppins", sans-serif;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  font-size: 1.625rem;
  width: 3.125rem;
  height: 3.125rem;
  background: #fff;
  color: #11052c;
  cursor: pointer;
  border: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #fbbf24;
  color: #fff;
}

.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

/* Animations */
.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

footer {
  background: #414c64;
}

footer .footer__container {
  background: #414c64;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: 0 6.25rem;
  gap: 3.125rem;
}

footer .footer__container .logo__and__about img {
  margin-left: -2.375rem;
}

footer .footer__container .logo__and__about,
footer .footer__container .links,
footer .footer__container .contacts,
footer .footer__container .socials,
footer .footer__container .services {
  margin: 3.125rem 0;
}

footer .footer__container .logo__and__about p,
footer .footer__container .links p,
footer .footer__container .contacts p,
footer .footer__container .socials p,
footer .footer__container .services p {
  color: #a3a3a3;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
}

footer .footer__container .links h4 {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

footer .footer__container .links ul {
  padding: 0;
}

footer .footer__container .links ul li {
  list-style: none;
}

footer .footer__container .links ul li .fa-angle-right {
  color: #fff;
}

footer .footer__container .links ul li a {
  color: #a3a3a3;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.875rem;
  margin: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer .footer__container .links ul li a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer .footer__container .contacts h4 {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

footer .footer__container .contacts ul {
  padding: 0;
}

footer .footer__container .contacts ul li {
  list-style: none;
}

footer .footer__container .contacts ul li .fa-angle-right {
  color: #fff;
}

footer .footer__container .contacts ul span {
  color: #a3a3a3;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.875rem;
  margin: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: text;
}

footer .footer__container .contacts ul span .fa-angle-right {
  color: #fff;
}

footer .footer__container .services h4 {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

footer .footer__container .services ul {
  padding: 0;
}

footer .footer__container .services ul li {
  list-style: none;
}

footer .footer__container .services ul li .fa-angle-right {
  color: #fff;
}

footer .footer__container .services ul li a {
  color: #a3a3a3;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.875rem;
  margin: 0 0.8rem;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer .footer__container .services ul li a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer hr {
  border: 0.063rem solid #7978783a;
  width: 80%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: auto;
}

footer .end__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .end__footer .privacy__terms__condition {
  display: inline-block;
}

footer .end__footer .privacy__terms__condition a {
  color: #a3a3a3;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}

footer .end__footer .privacy__terms__condition a:nth-child(1) {
  border-right: 0.063rem solid #a3a3a396;
  padding: 0 0.625rem;
}

footer .end__footer .copyright {
  display: inline-block;
  margin: 0 0.8rem;
}

footer .end__footer .copyright p {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

footer .end__footer .socials .social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .end__footer .socials .social__icons h4 {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin: 0.625rem 0;
}

footer .end__footer .socials .social__icons li {
  list-style: none;
  margin-bottom: 0.25rem;
}

footer .end__footer .socials .social__icons li a {
  background-color: #fbbf24;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  line-height: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 100%;
}

@media (max-width: 76.5rem) {
  .img-container {
    margin: 3.125rem 3.125rem;
  }
}

@media (max-width: 64rem) {
  .img-container {
    margin: 3.125rem 1.25rem;
  }
  .img-container img {
    height: 18.75rem;
  }
}

@media (max-width: 62rem) {
  header .navbar {
    height: 6.25rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navbar .main__logo {
    margin: 0;
  }
  header .navbar ul {
    display: block;
    position: absolute;
    background: #414c64;
    height: 100vh;
    width: 50%;
    height: 50%;
    margin: 0;
    right: -200%;
    padding-top: 6.25rem;
    position: fixed;
    z-index: 999;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  header .navbar ul.show {
    right: 0;
    height: 100vh;
  }
  header .navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 20px 0;
  }
  header .navbar .hamburger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    cursor: pointer;
    display: block;
    padding: 2.3rem 3.125rem;
    z-index: 100000;
  }
  header .navbar .hamburger__menu .line {
    width: 1.675rem;
    height: 0.188rem;
    background-color: #ecf0f1;
    display: block;
    margin: 0.355rem auto;
  }
  .image__and__heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31.25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr));
    margin: 3.25rem 3.25rem;
  }
  .img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31.25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr));
    margin: 3.125rem 9.375rem;
  }
  .img-container img {
    height: 31.25rem;
  }
  footer .footer__container {
    display: block;
    margin: 0 3.25rem;
  }
  footer .footer__container .logo__and__about {
    margin: 0;
  }
  footer .footer__container .logo__and__about figure {
    margin: 0 2.375rem;
  }
  footer .footer__container .logo__and__about img {
    margin: 4rem -2.375rem;
  }
  footer .end__footer {
    margin-top: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .end__footer .info {
    text-align: center;
  }
}

@media (max-width: 43.563rem) {
  .secondary_headings h2 {
    font-size: 2rem;
  }
  .image__and__heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 3.25rem 3.25rem;
  }
  .img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 3.125rem 3.125rem;
  }
  .img-container img {
    height: 31.25rem;
  }
}

@media (max-width: 36.75rem) {
  .image__and__heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    margin: 3.25rem 3.25rem;
  }
  .img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 3.125rem 3.125rem;
  }
  .img-container img {
    height: 21.875rem;
  }
  .img-container .img-show img {
    width: 1.25rem;
  }
  footer .end__footer {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  footer .end__footer .privacy__terms__condition {
    margin: 0.625rem 0;
  }
  footer .end__footer .socials {
    margin: 0.625rem 0;
  }
  footer .end__footer .socials .social__icons {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  footer .end__footer .socials .social__icons ul li {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 30.5rem) {
  .meeting__bg .heading h1 {
    font-size: 1.5625rem;
  }
  .image__and__heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(9.375rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
    margin: 3.25rem 3.25rem;
  }
  .img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(12.5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    margin: 3.125rem 3.125rem;
  }
  .img-container img {
    height: 15.625rem;
  }
  .img-container .img-show img {
    width: 1.25rem;
  }
  .btn-close {
    background: #fbbf24 !important;
    position: absolute !important;
    top: 6.25rem !important;
  }
}

@media (max-width: 20rem) {
  .meeting__bg .heading h1 {
    font-size: 1.438rem;
  }
  .image__and__heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(9.375rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
    margin: 1.25rem 1.25rem;
  }
  .img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(9.375rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
    margin: 3.125rem 1.875rem;
  }
  .img-container img {
    height: 12.5rem;
  }
  .img-container .img-show img {
    width: 1.25rem;
  }
  .btn-close {
    background: #fbbf24 !important;
    position: absolute !important;
    top: 6.25rem !important;
  }
}
/*# sourceMappingURL=gallery-extension.css.map */