/** @format */
.main__home {
  height: 80vh;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  /* fadeOutDown */
}

.main__home .main__headings {
  width: 80%;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__home .main__headings h1 {
  margin: 0;
  font-size: 3.75rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.main__home .main__headings h1 span {
  color: #fbbf24;
}

.main__home .main__headings h4 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
}

.main__home .main__headings form {
  margin-top: 3.125rem;
  position: relative;
}

.main__home .main__headings form button {
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  height: 2.8rem;
  border: 0.125rem solid #fbbf24;
  width: 10.625rem;
  font-size: 1rem;
  background: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main__home .main__headings form button:hover {
  border: 0.125rem solid #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: none;
}

.main__home .swiper {
  width: 100%;
  height: 100%;
}

.main__home .swiper-slide {
  width: 100%;
  height: 100vh;
}

.main__home .swiper-pagination-bullet-active {
  background: #fbbf24;
}

.main__home .swiper-button-prev,
.main__home .swiper-button-next {
  color: #fff;
  margin: 0 1.125rem;
}

.main__home #back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  font-size: 1.625rem;
  width: 3.125rem;
  height: 3.125rem;
  background: #fff;
  color: #11052c;
  cursor: pointer;
  border: none;
  z-index: 999 !important;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.main__home #back-to-top-btn:hover,
.main__home #back-to-top-btn:focus {
  background-color: #fbbf24;
  color: #fff;
}

.main__home .btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

/* Animations */
.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 62rem) {
  .main__home .swiper-button-prev,
  .main__home .swiper-button-next {
    color: #fff;
  }
}

@media (max-width: 42.938rem) {
  .main__home .main__headings h1 {
    font-size: 2.8125rem;
    text-align: center;
  }
  .main__home .main__headings h4 {
    font-size: 1rem;
  }
}

@media (max-width: 36.75rem) {
  .main__home .main__headings h1 {
    font-size: 2.8125rem;
    text-align: center;
  }
  .main__home .main__headings h4 {
    font-size: 1rem;
  }
  .main__home .swiper-button-prev,
  .main__home .swiper-button-next {
    color: #fff;
    margin: 0;
  }
}

@media (max-width: 30.5rem) {
  .main__home .main__headings h1 {
    font-size: 2.1875rem;
    text-align: center;
  }
  .main__home .main__headings h4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 20rem) {
  .main__home .main__headings {
    margin: 1.88rem 0;
  }
  .main__home .main__headings h1 {
    font-size: 2.1875rem;
    text-align: center;
  }
  .main__home .main__headings h4 {
    font-size: 0.875rem;
  }
}
/*# sourceMappingURL=home.css.map */