/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  width: 100%;
}

header .navbar {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 6.5rem;
  top: 0;
  transition: all 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .navbar.sticky {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: #414c64;
  transition: all 300ms ease-in-out;
  padding: 0;
  height: 6rem;
  width: 100%;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.875rem;
}

header .navbar ul li {
  list-style: none;
  margin: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul li a {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul li a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul li a .fa-angle-down {
  margin-left: 0.6rem;
}

header .navbar ul li a .fa-angle-down.trigger {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .navbar ul .dropdown__menus {
  display: none;
  z-index: -999;
  position: absolute;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

header .navbar ul .dropdown__menus.link-drop {
  z-index: 999;
  display: block;
  opacity: 1;
  background: #fff;
  padding: 1.25rem 1.25rem;
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

header .navbar ul .dropdown__menus.link-drop a {
  margin: 0.4rem;
  color: #a3a3a3;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar ul .dropdown__menus.link-drop a:hover {
  color: #fbbf24;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .navbar .hamburger__menu {
  display: none;
}

@media (max-width: 62rem) {
  header .navbar {
    height: 6.25rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navbar .main__logo {
    margin: 0;
  }
  header .navbar ul {
    display: block;
    position: absolute;
    background: #414c64;
    height: 100vh;
    width: 50%;
    height: 50%;
    margin: 0;
    right: -200%;
    padding-top: 6.25rem;
    position: fixed;
    z-index: 999;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  header .navbar ul.show {
    right: 0;
    height: 100vh;
  }
  header .navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 1.25rem 0;
  }
  header .navbar .hamburger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    cursor: pointer;
    display: block;
    padding: 2.3rem 3.125rem;
    z-index: 100000;
  }
  header .navbar .hamburger__menu .line {
    width: 1.675rem;
    height: 0.188rem;
    background-color: #ecf0f1;
    display: block;
    margin: 0.355rem auto;
  }
}
/*# sourceMappingURL=navbar.css.map */