   <div class="swiper-wrapper">
            <!-- first slide default -->
            <section class="swiper-slide bg-image"
                style="background-image: url(./assets/images/hero-bg.png); height: 1080px; width: 100%;">
                <!-- navbar container -->

                <div class="hero-text-wrapper container d-flex justify-content-center   flex-column" data-aos="fade-up"
                    data-aos-duration="1000">

                    <h1 class="hero-title fw-bold text-white">Partnered Excellence <br> since 1976</h1>


                    <p class="hero-description text-white">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit,
                        sed do
                        eiusmod
                        tempor
                        incididunt ut labore
                    </p>

                    <br>
                    <br>
                    <button class="bg-primary border-0 text-white ">Learn More</button>
                </div>
            </section>
            <!-- second slide -->
            <section class="swiper-slide bg-image"
                style="background-image: url(./assets/images/slider-img.2.png); height: 1080px; width: 100%;">
                <!-- navbar container -->

                <div class="hero-text-wrapper container d-flex justify-content-center   flex-column" data-aos="fade-up"
                    data-aos-duration="3000">

                    <h1 class="hero-title fw-bold text-white">Construction and <br>
                        Engineering Services</h1>


                    <p class="hero-description text-white">KEMPAL Construction and Supply Corporation <br> likewise
                        accommodates Electrical and Auxiliary Works <br> for construction projects
                    </p>

                    <br>
                    <br>
                    <button class="bg-primary border-0 text-white ">Learn More</button>
                </div>
            </section>
            <!-- third slide -->
            <section class="swiper-slide bg-image"
                style="background-image: url(./assets/images/slider-img.3.png); height: 1080px; width: 100%;">
                <!-- navbar container -->

                <div class="hero-text-wrapper container d-flex justify-content-center   flex-column" data-aos="fade-up"
                    data-aos-duration="3000">

                    <h1 class="hero-title fw-bold text-white">Industrial Supply and <br> Installation</h1>


                    <p class="hero-description text-white">Trading, importation of equipment and parts of <br>
                        Electrical & Mechanical equipment for major <br> industrial commercial facilities.
                    </p>

                    <br>
                    <br>
                    <button class="bg-primary border-0 text-white ">Learn More</button>
                </div>
            </section>
            <!-- fourth slide -->
            <section class="swiper-slide bg-image"
                style="background-image: url(./assets/images/slider-img.4.png); height: 1080px; width: 100%;">
                <!-- navbar container -->

                <div class="hero-text-wrapper container d-flex justify-content-center   flex-column" data-aos="fade-up"
                    data-aos-duration="3000">

                    <h1 class="hero-title fw-bold text-white">Solid Track Record</h1>


                    <p class="hero-description text-white">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit,
                        sed
                        do eiusmod tempor incididunt ut labore ute <br> irure dolor
                    </p>

                    <br>
                    <br>
                    <button class="bg-primary border-0 text-white ">Learn More</button>
                </div>
            </section>
        </div>